PORT=8000
CLIENT_ID=your_client_id_here
CLIENT_SECRET=your_client_secret_here
REDIRECT_URI=http://localhost:8000/api/auth/callback
OIDC_ISSUER=https://auth.soumodipto.me
PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"
KAFKA_BROKER=your_kafka_broker_url